{% extends 'layeout.html.twig' %}

{% block main %}
    <div class="container-fluid" style="height:90px;"></div>
    <div  class="bg-image"
          style=" background-image: url('https://i.ibb.co/yXB4gvF/pexels-daria-shevtsova-1560932-1.jpg') ">
        <div class="container-fluid  lead col-xl-12 px-4 py-5" >
            <div  class="row justify-content-around "> <h2 class=" text-center text-black" >{{ offre.posteRecherche }}</h2></div>
            <section >

                <div class="row  g-5 py-3">
                    <aside class="feature col-md-4" >
                        <div class="col-lg-12 text-white" style="text-align: justify; background-color: #0a0344;">
                            <h4 class="  text-center text-white" style="  background-color: #0a0344     ;">Résumé de l'offre</h4>
                            <p>Adresse :<em>{{ offre.adresse }}</em></p>
                            <p>Poste :<em>{{ offre.posteRecherche }}</em></p>
                            <p>Début :<em>{{ offre.begginingAT |date("Y-m-d")  }}</em></p>
                            <p>Expérience :<em>{{ offre.skills }}</em></p>
                            <p>Référence :<em>{{ offre.reference }}</em></p>
                            <p>Contrat :<em>{{ offre.contratType }}</em></p>
                            <p>Salaire :<em>{{ offre.payment }}</em></p>
                            <p>Publié :<em>{{ offre.publishedAT |date("Y-m-d") }}</em></p>
                        </div>

                    </aside>
                    <article class="feature col-md-8">
                        <div class="col-lg-12">

                            <div class="text-white" style="font-weight: bold; text-align: justify; ">
                                <ul class="nav nav-tabs " id="le-tab" role="tablist">
                                    <li class="nav-item ">
                                        <a class="nav-link active fs-3 text-red" id="candidature-tab" data-toggle="tab" href="#candidature" role="tab"
                                        aria-controls="home" aria-selected="true">
                                            Candidature
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link fs-3" id="information-tab" data-toggle="tab" href="#information" role="tab"
                                           aria-controls="information" aria-selected="false">
                                            Informations
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link fs-3" id="pk-tab" data-toggle="tab" href="#pk" role="tab"
                                           aria-controls="pk" aria-selected="false">
                                            Pourquoi vous?
                                        </a>
                                    </li>
                                </ul>
                                {{ form_start(candidat) }}
                                <div class="tab-content" id="continue">

                                    <div class="tab-pane fade show active" id="candidature" role="tabpanel" aria-labelledby="candidature-tab">
                                        <div class="col-lg-8 text-center text-lg-start" >
                                            <div class="container-fluid" style="height:50px;"></div>
                                                <p class="text-center fs-3 text-black">Votre CV ICI</p>
                                            {{ form_widget(candidat.brochure) }}
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show" id="information" role="tabpanel" aria-labelledby="information-tab">
                                        <div class="col-lg-8 text-center text-lg-start" >
                                            <section class="py-5 text-center container">
                                                <div class="row py-lg-5">
                                                    <div class="col-lg-6 col-md-8 mx-auto">
                                                       <p class="text-center fs-3 text-black">VOTRE NOM</p>
                                                        {{ form_widget(candidat.nom) }}
                                                        <p class="text-center fs-3 text-black">VOTRE PRENOM</p>
                                                        {{ form_widget(candidat.prenom) }}
                                                    </div>
                                                    <div class="col-lg-6 col-md-8 mx-auto">
                                                        <p class="text-center fs-3 text-black">VOTRE EMAIL</p>
                                                        {{ form_widget(candidat.email) }}
                                                        <p class="text-center fs-3 text-black">VOTRE MOBILE</p>
                                                        {{ form_widget(candidat.mobile) }}
                                                        <p class="text-center fs-3 text-black">VOTRE ADRESSE</p>
                                                        {{ form_widget(candidat.adresse) }}
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show" id="pk" role="tabpanel" aria-labelledby="pk-tab">
                                        <div class="col-lg-8 text-center text-lg-start" >
                                            <div class="container-fluid" style="height:50px;"></div>
                                            <p class="text-center fs-3 text-black">Dites nous plus sur vous</p>
                                            {{ form_widget(candidat.motivation) }}
                                            <div class="container-fluid" style="height:10px;"></div>
                                            <button class=" btn btn-lg btn-primary" type="submit">Envoyer votre candidature</button>
                                        </div>
                                    </div>
                                </div>
                                <section class="py-5 text-center container">
                                                <div class="row py-lg-5">
                                                    <div class="col-lg-6 col-md-8 mx-auto">
                                                        <p>
                                                            <a href="{{ path('offre_detail', {'id': offre.id})}}" class="btn btn-primary my-2">Précedent</a>
                                                            {# <a href="#"  class="btn btn-secondary my-2">Suivant</a> #}
                                                        </p>
                                                    </div>
                                                </div>
                                </section>
                                {{ form_end(candidat) }}
                                
                                   {#  <div class="col-lg-8 text-center text-lg-start" >
                                        {{ form_start(candidat) }}
                                        {{ form_widget(candidat) }}
                                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">

                                            <a href="{{path('politique')}}">Politique de confidentialité</a><br>
                                            <a href="{{path('condition')}}">Condition Générale d'utilisation</a><br>
                                        </div>

                                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">

                                            <button class=" btn btn-lg btn-primary" type="submit">Envoyer votre candidature</button>
                                        </div>
                                        {{ form_end(candidat) }}

                                    </div> #}
                            </div>
                        </div>
                    </article>

                </div>
            </section>
        </div>
    </div>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
    <script>
    $('.custom-file-input').on('change', function() {
         let fileName = $(this).val().split('\\').pop();
    $(this).siblings('.custom-file-label').addClass('selected').html(fileName);
    });

    /* GESTION DU RESET */
    function fctReset(oEvent){
    $('.custom-file-input').each(function( index , ele) {
    for(var i = 0; i< ele.labels.length;i++){
    ele.labels[i].innerHTML  =  ele.labels[i].dataset.defaultLabel  }  });    }
    $( document ).ready(function() {
    $('.custom-file-input').each(function( index , ele) {
    for(var i = 0; i< ele.labels.length;i++){
    ele.labels[i].dataset.defaultLabel = ele.labels[i].innerHTML  }  });
    $(document.forms["candidat"]).on('reset', fctReset); });
    </script>
{% endblock %}
{% endblock %}