{% extends 'layeout.html.twig' %}

{% block main %}

    <div class="container col-xl-10 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-3 py-3S">

            <div class="col-lg-3" style="text-align: justify">
                <div class="col-lg-12">
                <h1 >Pourquoi nous rejoindre?</h1>
                <p class="lead ">Entreprise de Service Numérique (ESN) spécialisée dans l'automatisation
                    robotisée des processus métiers de nos clients</p>
                </div>
                <div class="col-lg-12">
                    <h4>Nos valeurs et principes</h4>

                    <div>
                        <p class="lead ">DIGITATA-IT a pour objet le conseil, la création (conception et réalisation) et
                            la maintenance d’applications informatiques relatives à l’automatisation des processus métiers
                            et du développement web. L'ensemble de nos missions consiste à vous faire profiter de l’automatisation
                            des processus métiers pour optimiser votre performance et par la même occasion votre business.</p>
                    </div>

                </div>
            </div>
            <div class="col-10 col-sm-8 col-lg-9">
                <div class="container py-5" id="featured-3">

                    <div class="row g-5 py-5">
                        {% for offre in offres %}
                        <div class="feature col-md-6">
                            <div class="feature-icon bg-primary bg-gradient" >
                                <svg class="bi" width="480px" height="3em" style="  background-color: darkblue;  "><use xlink:href="#collection"/></svg>
                            </div>
                            <h2>{{ offre.posteRecherche }}</h2>
                            <div class="row justify-content-around">
                                <div class="col-6">
                                    <p><b>Exp souhaitée</b>: <em>{{ offre.skills }}</em></p>
                                    <p><b>Poste recherché</b>: <em>{{ offre.posteRecherche }}</em></p>
                                </div>
                                <div class="col-6">
                                    <p><b>Adresse</b>: <em>{{ offre.adresse }}</em></p>
                                    <p><b>Contrat</b>: <em>{{ offre.contratType }}</em></p>
                                    <p><b>Debut</b>: <em>{{ offre.begginingAT |date("Y-m-d")  }}</em></p>
                                </div>
                            </div>
                            <p><b>Description de l'offre</b>: <em>{{ offre.description }}</em></p>
                            <a href="{{ path('offre_detail', {'id': offre.id})}}" class="icon-link">
                                En savoir plus
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>


        </div>
    </div>


{% endblock %}