{% extends "layeout.html.twig" %}
{% block title %} Création web{% endblock %}

{% block main %}

    <!--debut-->
    <div class="my-5">

        <img class="d-block w-100" src="{{ asset('img/pageweb.jpg') }}" alt="First slide">


    </div>

    <div class="container py-5 text-justify" id="featured-3">
        <p class="text-center fs-1 font-weight-bold" style="color:darkblue;">“Le pôle web qui vous accompagne jusqu'à la réussite
            de votre projet.”</p>
        <div class="row g-1 py-4 fs-5 text-center">
            <p >
                Conscient de l’unicité de votre projet, nos experts vous accompagnent pour
                déterminer ensemble la bonne hiérarchie visuelle de votre site internet.
                Cela est important pour communiquer sur l’importance des différents éléments de votre
                page grâce à notre web design. En effet, pour maximiser le taux de vos conversions,
                chaque page de votre site doit avoir un objectif. L’idée est de guider l'œil de votre
                visiteur vers des éléments les plus importants comme votre bouton d’achat ou le formulaire
                d’inscription.
            </p>
        </div>
    </div>
    <!--fin-->


    <div class="container-fluide">
        <div class=" blog-header py-4  fs-2 text-white  text-center"  style="  background-color: darkblue;  ">
            <b> Notre approche</b>
        </div>
    </div>

    <section>
        <div class="container py-5" id="hanging-icons">
            <div class="row g-5 py-5">
                <div class="col-md-4 d-flex align-items-start">

                    <div style="text-align: center">
                        <a href="{{ path('uipath') }}" class="icon-link">
                        <i class="fab fa-digital-ocean fa-10x text-primary" ></i> </a>
                        <br>
                        <div class="container-fluid" style="height:25px;"></div>
                        <h2 class="text-center">Marketing Digital</h2>
                        <p class="text-center">Robotic Process Automation (RPA) est une technologie permettant aux logiciels informatiques d’imiter (ou de simuler)
                            et d’intégrer des actions généralement effectuées par des humains avec des systèmes numériques.</p>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">

                    </div>
                    <div style="text-align: center">
                        <a href="{{ path('vba') }}" class="icon-link">
                        <i class="fas fa-cash-register fa-10x text-primary"></i>   </a>  <br>
                        <div class="container-fluid" style="height:25px;"></div>
                        <h2>Site E-commerce</h2>
                        <p>Visual Basic application est une implémentation de Microsoft Visual basic.
                            Le principe de la VBA est de mettre de l’intelligence dans Excel pour obtenir une information fiable et pérenne.</p>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">

                    </div>
                    <div style="text-align: center">
                        <a href="{{ path('vba') }}" class="icon-link">
                        <i class="far fa-file-code fa-10x text-primary"></i> </a>   <br>
                        <div class="container-fluid" style="height:25px;"></div>
                        <h2>Développement web et mobile</h2>
                        <p>Visual Basic application est une implémentation de Microsoft Visual basic.
                            Le principe de la VBA est de mettre de l’intelligence dans Excel pour obtenir une information fiable et pérenne.</p>

                    </div>
                </div>

                            <div class="col-md-4 d-flex align-items-start">

                                <div style="text-align: center">
                                    <a href="{{ path('uipath') }}" class="icon-link">
                                        <i class="fas fa-chart-line fa-10x text-primary" ></i> </a>
                                        <br>   <div class="container-fluid" style="height:25px;"></div>
                                        <h2 class="text-center">Accompagnement et Suivi</h2>
                                    <p class="text-center">Robotic Process Automation (RPA) est une technologie permettant aux logiciels informatiques d’imiter (ou de simuler)
                                        et d’intégrer des actions généralement effectuées par des humains avec des systèmes numériques.</p>
                                </div>
                            </div>
                            <div class="col-md-4 d-flex align-items-start">
                                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">

                                </div>
                                <div style="text-align: center">
                                    <a href="{{ path('vba') }}" class="icon-link">
                                        <i class="fas fa-american-sign-language-interpreting fa-10x text-primary"></i></a>    <br>
                                    <div class="container-fluid" style="height:25px;"></div>
                                        <h2>Présence réseaux-sociaux</h2>
                                    <p>Visual Basic application est une implémentation de Microsoft Visual basic.
                                        Le principe de la VBA est de mettre de l’intelligence dans Excel pour obtenir une information fiable et pérenne.</p>
                                </div>
                            </div>
                            <div class="col-md-4 d-flex align-items-start">
                                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">

                                </div>
                                <div style="text-align: center">
                                    <a href="{{ path('vba') }}" class="icon-link">
                                        <i class="fab fa-google-plus-g fa-10x text-primary"></i>  </a>  <br>
                                    <div class="container-fluid" style="height:25px;"></div>
                                        <h2>Référencement SEO</h2>
                                    <p>Visual Basic application est une implémentation de Microsoft Visual basic.
                                        Le principe de la VBA est de mettre de l’intelligence dans Excel pour obtenir une information fiable et pérenne.</p>

                                </div>
                            </div>
            </div>
        </div>

    </section>
    <p class="text-center fs-1"><b>NOS STRATEGIES DIGITALES POUR REALISER AVEC SUCCES VOS PROJETS</b></p>
    <div class="container-fluid" style="height:25px;"></div>
    <section  style="  background-color: #1C2331;  ">
        <div class="container py-5 text-white" id="hanging-icons">
            <div class="row g-5 py-5">
                <div class="col-md-4 d-flex align-items-start">

                    <div style="text-align: center">
                        <a href="{{ path('uipath') }}" class="icon-link">
                            <i class="fas fa-text-width fa-6x text-primary"></i></a>
                        <br>   <div class="container-fluid" style="height:25px;"></div>
                        <h2 class="text-center">Etude faisabilité</h2>
                        <p class="text-center fs-3">Chaque projet est unique et définit votre imagne.
                            C'est pour cela nous faisons une étude approfondie pour mieux comprendre votre projet.</p>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-start">

                    <div style="text-align: center">
                        <a href="{{ path('uipath') }}" class="icon-link">
                            <i class="fas fa-pencil-ruler fa-6x text-primary"></i></a>
                        <br>   <div class="container-fluid" style="height:25px;"></div>
                        <h2 class="text-center">Design</h2>
                        <p class="text-center fs-3">Nous créons votre site sur mesure en vous apportant un design de qualité.</p>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">

                    </div>
                    <div style="text-align: center">
                        <a href="{{ path('vba') }}" class="icon-link"><i class="fas fa-traffic-light fa-6x text-primary"></i></a>    <br>
                        <div class="container-fluid" style="height:25px;"></div>
                        <h2>Consult</h2>
                        <p class="text-center fs-3">Nos consultants travaillent en étroite collaboration pour l'optimisation de votre projet</p>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-start">

                    <div style="text-align: center">
                        <a href="{{ path('uipath') }}" class="icon-link">
                            <i class="fas fa-microscope fa-6x text-primary"></i></a>
                        <br>   <div class="container-fluid" style="height:25px;"></div>
                        <h2 class="text-center">Votre visibilité/SEO</h2>
                        <p class="text-center fs-3">Augmenter votre visibilité grace au référencement naturel ou payant avec une bonne stratégie. Ce pôle a pour objectif d’aider
                            et accompagner les entrepreneurs, les entreprises à optimiser leurs sites internet. Ce qui leur permettra de booster leur présence en ligne afin d’améliorer
                            leurs ventes et notoriétés.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-start">

                    <div style="text-align: center">
                        <a href="{{ path('uipath') }}" class="icon-link">
                            <i class="fas fa-mail-bulk fa-6x text-primary"></i></a>
                        <br>   <div class="container-fluid" style="height:25px;"></div>
                        <h2 class="text-center">E-Mailing/Marketing</h2>
                        <p class="text-center fs-3">La DIGITATA-IT accompagne ses clients dans l’ère de la quatrième révolution industrielle:
                            l’automatisation avec des applications digitales performantes, des process automatisés performants.
                                Nous vous permettons d'attirer vos clients avec une stratégie de marketing bien orientée.
                            </p>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">

                    </div>
                    <div style="text-align: center">
                        <a href="{{ path('vba') }}" class="icon-link">
                            <i class="fas fa-users fa-6x text-primary"></i></a>    <br>
                        <div class="container-fluid" style="height:25px;"></div>
                        <h2>Formation des users</h2>
                        <p class="text-center fs-3">Pour chaque logiciel ou application crée. Nos équipes prennent le temps de bien former les utilisateurs.
                        Cette action fait partie d'un processus de fidélisation des clients </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="container-fluide">
        <div class=" blog-header py-4  text-center"  style="  background-color: darkblue;  ">
            <a href="{{ path('contact') }}" class="icon-link"><button type="button" class="btn  btn-lg px-8 me-sm-3 text-white fs-2" >Besoin conseil ou d'aide? Demandez nous</button> </a>
        </div>
    </div>
    <div class="container-fluid" style="height:80px;"></div>
    <section>
        <div class="container py-2 text-justify" id="hanging-icons">
            <div class="row  g-5 py-3">
                <div  class="feature col-md-6">
                    <div class="row g-1 py-3 ">
                        <h4 class="fw-bold mb-0 fs-1" style="color:darkblue;">Centre d’expertise Création Web </h4>
                        <p class="fs-5">Dans le cadre de notre expertise Web, le but de DIGITATA-IT est de vous accompagner dans vos projets de création Web,
                            ainsi que le maintien en condition opérationnelle de vos sites internet, de plus l’évolution de ces derniers. Elle a aussi pour objectif
                            de donner vie à vos différentes maquettes, logos et plaquettes. En plus de cela, notre expertise en création Web vous assure les avantages suivants :
                        </p>

                    </div>
                    <div class="fs-4">
                        <p><b>Créations Web </b></p>
                    <i class="far fa-check-circle mx-4 text-success"> </i>Refonte de site internet,<br>
                    <i class="far fa-check-circle mx-4 text-success"> </i>Maintenance de site internet,<br>
                    <i class="far fa-check-circle mx-4 text-success"> </i>Sécurisation de site internet,<br>
                    <i class="far fa-check-circle mx-4 text-success"></i> Création de site internet personnalisé et persuasif, <br>
                    <i class="far fa-check-circle mx-4 text-success"></i> Création de pages internet (tunnels de vente ou landing pages ou promotions de vente).
                        <br>  <br>
                    <p><b>Nos créations d’identité visuelle de marque </b></p>
                        <i class="far fa-check-circle mx-4 text-success"> </i>Création de maquettes graphiques,<br>
                        <i class="far fa-check-circle mx-4 text-success"> </i>Création de campagne publicitaire,<br>
                        <i class="far fa-check-circle mx-4 text-success"> </i>Création de plaquettes personnalisées,<br>
                        <i class="far fa-check-circle mx-4 text-success"></i> Création de vidéos de présentation et de publicité, <br>
                        <i class="far fa-check-circle mx-4 text-success"></i> Création de flyers, catalogues et cartes de visite personnalisés,<br>
                        <i class="far fa-check-circle mx-4 text-success"></i> Création de logos et bannières de réseaux sociaux  personnalisés.<br>
                    </div>
                </div>
                <div  class="feature col-md-6">


                    <img class="d-block w-100" style="height:480px;" src="{{ asset('img/web5.jpg') }}" alt="First slide">
                    <img class="d-block w-100" style="height:480px;" src="{{ asset('img/web6.jpg') }}" alt="First slide">

                </div>
            </div>
        </div>
    </section>
    <div class="container-fluide">
        <div class=" blog-header py-4  text-center"  >
            <a href="{{ path('contact') }}" class="icon-link"><button type="button" class="btn  btn-lg px-8 me-sm-3 text-white fs-2" style="  background-color: darkblue;  " >Demander un devis</button> </a>
        </div>
    </div>

    <!--troisieme section-->
    <section  style="  background-color: whitesmoke;  ">
        <div class="container py-2 text-justify" id="hanging-icons">
            <div class="container-fluid" style="height:25px;"></div>
            <p class="text-center fs-1"><b>NOS CLIENTS</b></p>
            <p class="text-center fs-5">Ils nous ont fait confiance pour la réalisation de leur projet</p>
            <div class="row  g-5 py-3">
                <div  class="feature col-md-6">
                    <div>
                        <a href="https://senfrancepreinscription.com/blog/"> <img class="d-block w-100" style="height:510px;" src="{{ asset('img/web7.png') }}" alt="First slide"></a>
                    </div>
                </div>
                <div  class="feature col-md-6">

                    <div class="row g-1 py-3 ">
                        <h4 class="fw-bold mb-0 fs-1" style="color:darkblue;">Sen France Préinscription
                        </h4>
                        <p class="fs-5">Sén-France Préinscription est un cabinet de conseil spécialisé dans l’accompagnement des
                            jeunes étudiant(e)s et bachelier(ière)s dans leurs procédures de demande de préinscription par Campus France Sénégal. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---->
    <div class="text-center g-5 py-3 fs-5">
        <p><u>Adresse</u> : <i class="text-primary">Cergy - Pontoise 95 000</i></p>

        <p><u>Téléphone</u> :  <i class="text-primary">+33 (0) 6 64 24 02 51</i></p>

        <p><u>Site internet DIGITATA-IT</u>  :  <i class="text-primary">www.digitata-it.fr</i></p>

        <p><u>Site internet Pôle Automation</u> : <i class="text-primary">automatisation.digitata-it-business.fr</i></p>
    </div>


{% endblock %}