{% extends "layeout.html.twig" %}
{% block title %}VBA{% endblock %}
{% block main %}
<div class="container-fluid" style="height:20px;"></div>
<div >
  
      <img class="d-block w-100" src="{{ asset('img/mvba.jpg') }}" alt="First slide">
 
</div>
<div class="my-5">
 <a class="navbar-brand"
              href="#projects"><img class="d-block w-100"  src="{{ asset('img/visual_basic-min.jpg') }}"  alt="Second slide"></a>
</div>
<p class="text-center fs-1 font-weight-bold" style="color:darkblue;">“Pôle VBA-Office”</p>
<section>

    <div class="container text-justify fs-5">

        <p>  La crise sanitaire que nous traversons à ce jour démontre l'efficacité et l’importance des technologies de transformation numérique parmi lesquelles on peut citer le Visual Basic Application (VBA).
         Seules les entreprises ayant su s’adapter et intégrer la transformation numérique de leurs activités ont pu faire face à cette crise.</p>
         <p>En effet, beaucoup d’entreprises continuent de gérer de manière manuelle un nombre important d’informations. Ce qui requiert un temps important et une mobilisation d’une équipe pour la réalisation.
          Or, pour être compétitive, la productivité d’une équipe est aujourd’hui de travailler de façon intelligente et non rébarbative.</p>
         <p>A ce titre, VBA-Office est une véritable solution alternative procurant une main d'œuvre numérique pour vos tâches habituellement effectuées de manière manuelle.</p>
         <p>Forte de son expertise dans le domaine Microsoft Office, DIGITATA-IT utilise VBA pour réaliser des robots, macros et applications capables de :</p>
        <i class="fab fa-squarespace mx-4 text-primary"> </i>gérer vos présentations graphiques,<br>
           <i class="fab fa-squarespace mx-4 text-primary"> </i>traiter et d’analyser vos données,<br>
              <i class="fab fa-squarespace mx-4 text-primary"> </i>générer des devis, des factures, des contrats,<br>
                 <i class="fab fa-squarespace mx-4 text-primary"></i> voire plus...<br>
         <p>Autrement dit, DIGITATA -IT vous permet d’automatiser vos tâches répétitives à partir de VBA (macros très simples à très complexes) afin que vous vous concentriez sur vos tâches à plus forte valeur ajoutée.</p>           
                        
    </div>

</section>
<div class="px-4 pt-5 my-2 text-center border-bottom">

    <div class="container px-5">
      <img src="{{ asset('img/pourquoi.jpg') }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
   <p class="text-center fs-1 font-weight-bold" style="color:darkblue;">“Le pourquoi de ce pôle”</p>
  </div>
</div>

<section>

    <div class="container text-justify fs-5">

        <p>Intégré dans Microsoft, Visual Basic for application (VBA) est incorporé (soit inclu) 
        dans toutes les applications de ce dernier. Son but est de mettre de l’intelligence dans les outils Microsoft pour obtenir une information fiable et pérenne.</p>
        <p>Ce qui fait de lui un excellent instrument de restitution. Il est le plus adapté pour automatiser des tâches répétitives réalisées sous Excel, Word, Outlook, Access etc</p>
        <p>Composée d'ingénieurs d'études et de recherches & développement avec une bonne connaissance métier et un savoir faire utilisateur, DIGITATA-IT met au profit de ses clients 
        une équipe agile, soudée, pour vous accompagner dans toutes les étapes de votre projet.</p>
        <p>Du recueil de besoin à la livraison de l’application réalisée, en passant par les spécifications fonctionnelles et techniques, le développement,
         le testing, DIGITATA-IT répond à vos demandes de prestations de A à Z.</p>
         <p>Notre pôle VBA-OFFICE vous garantit un service continu, une réactivité sur les délais de réalisation du chiffrage, un engagement sur le résultat,
          les délais et une capacité de monter en charge rapidement.</p>
   
    </div>
    <div class="px-4 pt-5 my-2 text-center border-bottom">
        <div class="container px-5">
            <img src="{{ asset('img/avantages.jpg') }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
            <p class="text-center fs-1 font-weight-bold" style="color:darkblue;">“Les avantages”</p>
        </div>
  </div>
  <div class="container text-justify fs-5">
          <p>Incontournable au vue de sa polyvalence, Visual Basic sous Excel vous offre la possibilité de gérer et de réduire les risques d’erreurs, d’optimiser les temps de traitement,
           de concevoir des interfaces utilisateurs personnalisées, d’échanger des données entre différentes applications, de réduire le temps de traitement d’un calcul ou d’une opération
            digitale qui prend en charge plusieurs paramètres et variables.</p>
            <p>Avec notre pôle VBA-OFFICE, facilitez-vous la réalisation des tâches suivantes:</p>
        <i class="fab fa-squarespace mx-4 text-primary"> </i>tout type de tableaux (du simple au croisé dynamique), formules (du simple au complexe) et de graphiques,<br>
           <i class="fab fa-squarespace mx-4 text-primary"> </i>saisies, des tries, des filtres, des analyses de données, importation et exportation de données (Csv, txt, xls...),<br>
              <i class="fab fa-squarespace mx-4 text-primary"> </i>mises en forme de documents spécifiques (factures, devis, rapports, documents type...),<br>
                 <i class="fab fa-squarespace mx-4 text-primary"></i> mises en page à l'aide de formules,<br>
                    <i class="fab fa-squarespace mx-4 text-primary"></i> mises en forme conditionnelle,<br>
        <i class="fab fa-squarespace mx-4 text-primary"></i> gestion de ListBox, ComboBox, Bouton de commande (VBA),<br>
         <i class="fab fa-squarespace mx-4 text-primary"></i> macros VBA pour l’automatisation de vos tâches répétitives,<br>
         <i class="fab fa-squarespace mx-4 text-primary"></i> Userforms et des interfaces utilisateurs (Formulaires, Fenêtres…),<br>
         <i class="fab fa-squarespace mx-4 text-primary"></i> algorithmes VBA personnalisées,<br>
         <i class="fab fa-squarespace mx-4 text-primary"></i> projets de base de données Excel, Access (sql),<br>
         <i class="fab fa-squarespace mx-4 text-primary"></i> applications VB.NET(EXE) avec interface utilisateur de gestion et Indépendantes d’Excel,<br>
         <i class="fab fa-squarespace mx-4 text-primary"></i> automatisations d’ouverture, de fermeture, d’enregistrement, d’impression et d’envois de mail,<br>
         <i class="fab fa-squarespace mx-4 text-primary"></i> macros VBA communiquant avec Excel, Access et Word,<br>
         <i class="fab fa-squarespace mx-4 text-primary"></i> protections de vos classeurs, ou vos interfaces de connexion utilisateur,<br>
         <i class="fab fa-squarespace mx-4 text-primary"></i> applications financières et/ou de reporting avec indicateurs de performances,<br>
         <i class="fab fa-squarespace mx-4 text-primary"></i> voire plus.<br>

                      
                        
    </div>
    <div class="px-4 pt-5 my-2 text-center border-bottom">
        <div class="container px-5">
            <img src="{{ asset('img/service-min.jpg') }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
            <p class="text-center fs-1 font-weight-bold" style="color:darkblue;">Nos services VBA-OFFICE ?</p>
        </div>
    </div>
    
    <div class="container text-justify fs-5">
        <p> Avec ses services de chiffrage, de maintenance en conditions opérationnelles, de projet et évolution, DIGITATA-IT vous conseille et accompagne dans vos projets.</p>
        <p>Notre centre de service, avec son expertise et sa maîtrise des outils Microsoft (Visual basic application, bases Access, SQL Server, .Net), vous permettront de bénéficier d’un suivi industrialisé 
        et opérationnel des applications existantes et nouvelles, des applications de gestion des incidents en production, la maintenance de robots et de macros à un coût optimisé.</p>
    </div>
    <div class="px-4 pt-5 my-2 text-center border-bottom">
        <div class="container px-5">
            <img src="{{ asset('img/assistance.jpg') }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
            <p class="text-center fs-1 font-weight-bold" style="color:darkblue;">Assistance et aide</p>
    </div>
    </div>
    <br />
    <div class="container text-justify fs-5">

        <p> Vous souhaitez gagner du temps et vous concentrez sur des tâches à plus forte valeur ajoutée, au lieu de vous tracasser sur une formule de calcul, 
        sur une fonction ou à rechercher des réponses sur internet, faites appel à notre centre de service VBA-Excel pour résoudre vos problèmes. Nous vous aidons sur tous les points suivants:</p>
        <i class="fab fa-squarespace mx-4 text-primary"> </i>gestion de la demande,<br>
        <i class="fab fa-squarespace mx-4 text-primary"> </i>développement ,<br>
        <i class="fab fa-squarespace mx-4 text-primary"> </i>qualification interne,<br>
        <i class="fab fa-squarespace mx-4 text-primary"></i> assistance à la recette,<br>
        <i class="fab fa-squarespace mx-4 text-primary"></i> pilotage / Suivi,<br>
        <i class="fab fa-squarespace mx-4 text-primary"></i> gestion de la maintenance.<br>                              
    </div>

    

</section>
<br />
<div class="text-center g-5 py-3 fs-5">
    <p><u>Adresse</u> : <i class="text-primary">Cergy - Pontoise 95 000</i></p>

    <p><u>Téléphone</u> :  <i class="text-primary">+33 (0) 6 64 24 02 51</i></p>

    <p><u>Site internet DIGITATA-IT</u>  :  <i class="text-primary">www.digitata-it.fr</i></p>

    <p><u>Site internet Pôle Automation</u> : <i class="text-primary">automatisation.digitata-it-business.fr</i></p>
</div>

{% endblock %}