{% extends "layeout.html.twig" %}
{% block title %} Automatisation{% endblock %}

{% block main %}
<div class="container-fluid" style="height:50px;"></div>
<!--debut-->
<div class="my-5">
  
      <img class="d-block w-100 m-4 p-5" src="{{ asset('img/tache-min.jpg') }}" alt="First slide">
 
</div>
<div class="my-5">
 <a class="navbar-brand"
              href="#projects"><img class="d-block w-100"  src="{{ asset('img/picture1.jpg') }}"  alt="Second slide"></a>
</div>
<div>
<img class="d-block w-100" src="{{ asset('img/8.jpg') }}" >
</div>



<div class="container py-5 text-justify" id="featured-3">
  <p class="text-center fs-1 font-weight-bold" style="color:darkblue;">“Si vous êtes un organisme d'ASSURANCE, 
  le pôle d'automatisation de la  DIGITATA-IT est fait pour vous.”</p>
  <div class="row g-1 py-4 fs-5">
    <p >
        Fondée sur le principe de mettre les outils informatiques aux services de l'humain, DIGITATA-IT œuvre pour faciliter le travail des entreprises d'assurances en mettant les nouvelles technologies à leurs services.</p>

 <p> Nous sommes entourés dans notre environnement de travail par des outils informatiques. Ces numériques, pour la plus part du temps, favorisent, allèguent et accélèrent notre travail au quotidien. Malheureusement, dans certains cas, elles créent des tâches redondantes. C'est là que la RPA prend certaines mesures. Elle s'inscrit dans une continuité d'évolution technologique.</p>

<p> <b> L'objectif majeur de la RPA est l'automatisation des processus métiers. C'est le fait de confier à une solution logicielle, un assistant virtuel des tâches
 répétitives effectuées par un collaborateur</b>. Autrement dit, l'automatisation des processus robotisés est de traiter des tâches répétitives et chronophages.</p>

<p> Avec l'importance de l'informatique dans le monde professionnel et les évolutions technologiques, les entreprises doivent déployer une grande réactivité pour 
fidéliser leurs clients. Et cela passe par la restructuration de leurs organisations et leurs méthodes de travail.

Nous croyons à la valeur ajoutée que les outils informatiques et particulièrement la RPA (Robotic Process Automation) peuvent apporter aux services de nos clients assureurs.

C'est en ce sens qu'intervient notre centre de service d'automatisation pour vous accompagner dans vos projets d'automatisation de processus métiers et de transformation numérique.</p>

<p> Composé d'<b> ingénieurs informatiques spécialisés en RPA, de business analystes avec de bonnes connaissances métiers de l'assurance et un savoir-faire dans l'accompagnement
 et la formation des utilisateurs</b>, notre centre de service vous garantit une équipe Agile, un service continu et une réactivité sur le délai de livraison.</p>


    </p>
  </div>
</div>
<!--fin-->

 <p class="text-center fs-4 font-weight-bold" >Découvrez-nous, rejoignez-nous !</p>

 <div class="container-fluide">
  <div class=" blog-header py-4  fs-2 text-white  text-center"  style="  background-color: darkblue;  ">
    <b> Quelques avantages de l'automatisation</b>
  </div>
</div>
<div class="container  px-4 py-5 text-justify" id="hanging-icons">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 mx-2">
            <h2 class="pb-2 border-bottom"></h2>

        <div class="row   py-5">
            <div  class="feature col-md-3">
                
                <div>
                    <img class="d-block mx-lg-auto img-fluid"  width="700" height="500" loading="lazy" src="{{ asset('img/9.jpg') }}" alt="First slide">
                </div>
            </div>
            <div  class="feature col-md-3">
                <div class="row g-1  fs-5">
                    <h4 class="fw-bold mb-0">Economique</h4>
                    <p>Notre pôle AUTOMATISATION assure plus 20 à 40% d'économie en termes de coût et de temps pour votre organisme.  </p>
                </div>
            </div>
            <div  class="feature col-md-3">
                <div>
                        <img class="d-block mx-lg-auto img-fluid"  width="700" height="500" loading="lazy" src="{{ asset('img/p8.jpg') }}" alt="First slide">
                </div>
            </div>
            <div  class="feature col-md-3">
        
                <div class="row g-1  fs-5">
                    <h4 class="fw-bold mb-0">Précision & Fiabilité</h4>
                    <p>L'automatisation assure le bon résultat et le bon calcul du premier coup.</p>
                    <p> Un service continu 24h/7J/365</p>
                </div>
            </div>
            <div  class="feature col-md-3 my-3">
                <div>
                    <img class="d-block mx-lg-auto img-fluid"  width="700" height="500" loading="lazy" src="{{ asset('img/tc8.jpg') }}" alt="First slide">
                </div>
            </div>
            <div  class="feature col-md-3">
            
                <div class="row g-1  fs-5 my-3">
                    <h4 class="fw-bold mb-0">Traçabilité & Confidentialité</h4>
                    <p>L'automatisation assure une journalisation complète disponible pour l'audit. Elle limite l'accès "Humain" aux données sensibles.</p>
                
                </div>
            </div>
            <div  class="feature col-md-3 my-1">
            
                <div>
                    <img class="d-block mx-lg-auto img-fluid"  width="700" height="500" loading="lazy" src="{{ asset('img/pe8.jpg') }}" alt="First slide">
                </div>
            </div>
            <div  class="feature col-md-3">
                <div class="row g-1  fs-5">
                    <h4 class="fw-bold mb-0">Productivité & Evolution</h4>
                    <p>Plus fiable et rapide que l'humain sur des tâches répétitives. Elle assure un approvisionnement instantané pour traiter les pointes ou les creux de charge.</p>
        
                </div>
            </div>
        </div>
    </div>  
</div>
<section>
<div class="container-fluide">
  <div class=" blog-header py-4  fs-2 text-white  text-center"  style="  background-color: darkblue;  ">
    <b> Vous avez des questions ?</b>
 <div>
    <i>Contactez-nous</i>
    <p>    <i>Tel : +33 6 64 24 02 51</i></p>
    <p><i>contact@digitata-it.com</i></p>
 </div>
   
  </div>
</div>
</section>
<section>
<div class="container py-2 text-justify" id="hanging-icons">


  <div class="row  g-5 py-3">
    <div  class="feature col-md-6">
     
      <div>
         <img class="d-block w-100" style="height:310px;" src="{{ asset('img/1RPA-min.jpg') }}" alt="First slide">
      </div>
    </div>
    <div  class="feature col-md-6">
     
      <div class="row g-1 py-3 ">
        <h4 class="fw-bold mb-0 fs-1" style="color:darkblue;"style="color:darkblue;">Pôle Automation : <u>UIPath</u></h4>
        <p class="fs-5">Robotic Process Automation (RPA) est une technologie permettant aux logiciels informatiques d’imiter (ou de simuler) 
        et d’intégrer des actions généralement effectuées par des humains avec des systèmes numériques. </p>
      </div>
    </div>
   </div>
</div>
</section>
<div class="container-fluide">
  <div class=" blog-header py-4  fs-2 text-white  text-center"  style="  background-color: darkblue;  ">
 <a href="{{ path('uipath') }}" class="icon-link"><button type="button" class="btn  btn-lg px-8 me-sm-3 text-white" >En savoir plus sur notre Pôle AUTOMATION : UIPath</button> </a>   
</div>
</div>
<section>
<div class="container py-2 text-justify" id="hanging-icons">
  <div class="row  g-5 py-3">
     <div  class="feature col-md-6">
        <div class="row g-1 py-3 ">
        <h4 class="fw-bold mb-0 fs-1" style="color:darkblue;"style="color:darkblue;">Pôle Automation : <u>VBA</u> </h4>
        <p class="fs-5">Visual Basic application est une implémentation de Microsoft Visual basic. Le principe de la VBA
         est de mettre de l’intelligence dans Excel pour obtenir une information fiable et pérennes. </p>
        </div>
    </div>
       <div  class="feature col-md-6">
     

         <img class="d-block w-100" style="height:310px;" src="{{ asset('img/2VBA-min.jpg') }}" alt="First slide">

    </div>
   </div>
</div>
</section>
<div class="container-fluide">
  <div class=" blog-header py-4  fs-2 text-white  text-center"  style="  background-color: darkblue;  ">
 <a href="{{ path('vba') }}" class="icon-link"><button type="button" class="btn  btn-lg px-8 me-sm-3 text-white" >En savoir plus sur notre Pôle AUTOMATION : VBA</button> </a>   
</div>

<!--troisieme section-->
<section>
<div class="container py-2 text-justify" id="hanging-icons">


  <div class="row  g-5 py-3">
    <div  class="feature col-md-6">
     
      <div>
         <img class="d-block w-100" style="height:310px;" src="{{ asset('img/crpa.jpg') }}" alt="First slide">
      </div>
    </div>
    <div  class="feature col-md-6">
     
      <div class="row g-1 py-3 ">
        <h4 class="fw-bold mb-0 fs-1" style="color:darkblue;"style="color:darkblue;">Pôle Formation : <u>UIPath</u></h4>
        <p class="fs-5">Le coaching DIGITATA-IT est un accompagnement personnalisé des salariés et des demandeurs d’emploi 
        désirant se perfectionner ou se reconvertir dans le domaine de l’automatisation (RPA et VBA). </p>
      </div>
    </div>
   </div>
</div>
</section>
<div class="container-fluide">
  <div class=" blog-header py-4  fs-2 text-white  text-center"  style="  background-color: darkblue;  ">
 <a href="{{ path('formation') }}" class="icon-link"><button type="button" class="btn  btn-lg px-8 me-sm-3 text-white" >En savoir plus sur notre Pôle FORMATION : UIPath</button> </a>   
</div>
</div>
<!---->
<div class="text-center g-5 py-3 fs-5">
    <p><u>Adresse</u> : <i class="text-primary">Cergy - Pontoise 95 000</i></p>

    <p><u>Téléphone</u> :  <i class="text-primary">+33 (0) 6 64 24 02 51</i></p>

    <p><u>Site internet DIGITATA-IT</u>  :  <i class="text-primary">www.digitata-it.fr</i></p>

    <p><u>Site internet Pôle Automation</u> : <i class="text-primary">automatisation.digitata-it-business.fr</i></p>
</div>


{% endblock %}