{% extends 'layeout.html.twig' %}
{% block title %} Vous êtes sur la page d'inscription{% endblock %}
{% block main %}

    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-5 py-5">

            <!---->
            <div class="col-lg-7 text-center text-lg-start" style="font-weight: bold">
                <h4 class="text-center">Page d'inscription</h4>
                {{ form_start(registerform) }}
                {{ form_widget(registerform) }}
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">

                    <a href="{{path('politique')}}">Politique de confidentialité</a><br>
                    <a href="{{path('condition')}}">Condition Générale d'utilisation</a><br>
                </div>

                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">

                    <button class=" btn btn-lg btn-primary" type="submit">Creation de compte</button>
                </div>
                {{ form_end(registerform) }}

            </div>
            <!---->

            <div class="col-10 mx-auto col-lg-5">
                        <p class="text-center"><i class="fas fa-sign-in-alt"></i>Vous avez déjà un compte cliquez ici</p>
                    <button class="w-100 btn btn-lg btn-primary"><a href="{{path('login')}}" class="text-white">Connexion</a> </button>
                    <hr class="my-4">
                    <small class="text-muted">En cliquant sur connexion vous acceptez notre condition d'utilisation et de vente</small>

            </div>
        </div>
    </div>


{% endblock %}