
{% block main %}

<h1>Demande de renseignement</h1>
<p>Prenom : {{contact.firstname}}</p>
<p>Objet du message : {{contact.objet}}</p>
<p>Nom : {{contact.lastname}}</p>
    {% if contact.politique  %}
        <p>Politique: J'accepte vos politiques de confidentialité</p>
    {% else%}
        <p>Politique: neant</p>
    {% endif %}
<p>Telephone : {{contact.phone}}</p>
<p>e-mail : {{contact.email}}</p>
<p>Budget : {{contact.budget}}</p>
<p>Société : {{contact.societe}}</p>
<p>Date de rendez-vous : {{contact.datesouhaitee}}</p>
<p>Description : {{contact.descrioptionprojet|nl2br}}</p>
{% endblock %}